#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
  font-size: 70px;
}

#nameContainer {
  font-size: 100px;
}

button {
  background-color: #7FFFD4; /* Green */
  border: none;
  color: #00008B;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: blue;
}
